body {
    background-color: #aecbdb;
}

.pointer-cursor {
    cursor: default;
}

.background {
    background-color: #BDD3EF;
}

body, td, a, div, .p {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    background-color: inherit;
    margin: 0px;
    padding: 0px;
    height: 30px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 5px;
    margin-top: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px 8px 3px 8px;
    cursor: hand;
    color: black;
    border: 1px solid #f1ffff;
    font-size: 0.8em;
    color: #2e79bd;
    text-align: center;
    background: #fcfcfc;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    background: #2e79bd;
    border: 1px solid #2b5c9b;
    font-size: 0.8em;
    color: #ffffff;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:not(.gwt-TabLayoutPanelTab-selected):hover {
    cursor: default;
    background: #30a4f6;
    border: 1px solid #28a1f3;
    cursor: pointer;
    font-size: 0.8em;
    color: #ffffff;
}

.tabHeader,.tabFooter {
    background-color: #55fd4b;
    border-color: #93e35f;
}

.tabStripTop {
    gwt-image: "tabStripBackground";
    background-color: #f52ade;
    border-bottom-color: #e34114;
    /* Override @sprite behavior */
    height: auto;
    overflow: visible;
}

.margins {
    margin: 5px 0px 0px 5px;
}

.gwt-PopupPanelGlass {
    background-color: black;
    opacity: 0.4;
    border-color: #8db2e3;
    background-color: #deecfd;
}